body {
  font-family: "Poppins", sans-serif;
  background: rgb(249, 240, 252);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
  color: rgb(248, 102, 102);
  margin-top: -20px;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-gap: 40px;
}

.img-responsive {
  width: 100%;
  display: block;
  aspect-ratio: 2 / 2;
  border-radius: 15px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 2fr 4fr 3fr;
}

.embed {
  width: 100%;

  aspect-ratio: 2 / 1;
}

.instagram-embeds {
  margin: 30px 0;
}

.card {
  background: rgb(248, 230, 244);
  overflow: hidden;
  border-radius: 15px;
}
.card-header {
  margin: 0;
}
.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 24px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #dc91ec;
  text-decoration: none;
  border-radius: 15px;
}

.video {
  height: 300px;
  width: 100%;
}

section {
  max-width: 100%;
  padding: 100px;
}

section.secondary {
  background: rgb(48, 45, 45);
  margin-top: 60px;
  border-radius: 15px;
}

header {
  background-image: linear-gradient(rgba(37, 31, 31, 0.6), rgba(55, 49, 49, 0.6)),
    url("../images/sie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 250px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  margin: 40px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #1d172f;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

main {
  background-color: white(224, 214, 214);
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: rgb(103, 54, 121);
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: rgb(228, 164, 239);
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  text-align: center;
  color: rgb(193, 122, 243);
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
  color: rgb(164, 111, 234);
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: rgb(89, 44, 94);
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/z.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }
 
  .video {
      width: 100%;
      aspect-ratio: 1 / 1;
  }
 }